<section class="signup">
    <form id="signup">
        <input type="text" name="username" id="signup-username" placeholder="Username">
        <input type="email" name="email" id="signup-email" placeholder="Email">
        <input type="password" name="password" id="signup-password" placeholder="Password">
        <button type="submit">Signup</button>
    </form>
</section>